.main_div{
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
}

h1{
    color: white;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 4px 0;
    width: 80%;

    //Center input on div
    display: block;
    margin: 0 auto;
}

    .second_div{
        overflow: hidden; //wrap content vertically
        width: 30%;
        min-width: 300px;
        max-width: 450px;
        left: 0;
        right: 0;
        margin: auto;

        background-color: rgba(0, 0, 0, 0.623);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .second_div button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;

        //Center input on div
        display: block;
        margin: 0 auto;

        margin-top: 25px;
    }
    
    .second_div button:active {
        transform: scale(0.95);
    }
    
    .second_div button:focus {
        outline: none;
    }
    
    .second_div button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

    .second_div button:hover {
        cursor: pointer;
        background-color: #ee3b1b;
    }

.div_input_sign_up{
    display: flex;
    align-items: center; //center vertical
    justify-content: center; //center horizontal
    width: 100%;
    margin-bottom: 15px;
    //background-color: chartreuse;
}

    .default_point{
        height: 15px;
        width: 15px;
    }