button{
    margin-top: 50px;
    margin:0 auto;
    display:block;
}

h1{
    text-align: center;
}


.pClass{
    text-align: center;
}

.divModalParent{
    max-width: 500px;
}

.divImg{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.image{
    height: 50px;
    width: 50px;
}
