.header{
    background-color: black;
    width: 100%; /* Toma el ancho de toda la ventana */
    position: relative; /* indica que la capa sí forma parte del flujo normal de elementos de la página, por lo que su posición dependerá del lugar donde esté en el código y el flujo HTML */
}

//--------------------------------------------------CONTAINER 1 (LOGO AND NAME)--------------------------------------------------//

.div_header{//Div. Here it shows the gym logo and title (Cachí Fitness Center)
  position: relative;
  display: flex; 
}

  .img_imagen {//Div. Here it storages gym logo
      height: 70%; //Logo height
      width: 12%;
      min-width: 30px;
      float: left;
  }

  .div_title{
      height: 100%;
      //background-color: red;
      
      //center text
      display: flex;
      align-items: center;
      justify-content: left;
      float: left;
  }

p{
    color: white;
    font-family: "Berlin Sans FB Demi Bold";
    font-weight: bold;
    font-size:2vw;
}

//--------------------------------------------------CONTAINER 2 (NAVBAR)--------------------------------------------------//

.navbar_items{
    width: 50%;
    height: 100%;
    float: right;
    //Centrar los items
    display: flex;
    position: absolute;
}

.navbar_items ul{
  display: flex;//align items horizontal
  list-style-type: none;//remove dots on list items
}

.navbar_items ul li{
    text-transform: uppercase;
    margin-left: 3px;
}

//-----------------------------------------------DROPDOWN-----------------------------------------------------------//

/* Style The Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 1vw;
  text-transform: uppercase;

  //Borde gris y redondeado
  border-radius: 10px;
  -moz-border-radius: 10px;
  //border: 1px solid rgb(56, 56, 59);

  width: 11vw;
  min-width: 80px;
  height: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 11vw;
  min-width: 80px;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #000000;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  display: block;
  margin-top: 2px;
  font-size: 0.9vw;

  //Borde gris y redondeado
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid rgb(56, 56, 59);

  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: rgb(56, 56, 59); cursor: pointer; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(56, 56, 59);
}

//-------------------------------------------------------------------------------------------------------------//@at-root

.display_none{
  display: none;
}

//------------------------------------------------------QUERIES------------------------------------------------//

//PC SCREENS
@media screen and (max-width: 20000px) {
  .header{ height: 12%; }
    .div_header { width: 50%; float: left; height: 100%; }
      .div_image_logo{ height: 60%; width: 15%; position: relative; margin: auto; margin-right: 0; margin-left: 3%; } 
        .img_imagen{ height: 100%; width: 100%; }
      .div_title{ width: 60%; }
        .p_title{ margin-top: 1vw; }

    .navbar_items { right: 0; } 
      ul{ padding: 0px; margin: 0; height: 70%; margin: auto; }
}

//MOBILE SCREENS
@media (max-width: 845px) {
  .header{ height: 11%; }
    
    .div_header { width: 100%; margin: auto; height: 50%; /*50 percent of the header height*/ } //Div. Here it shows the gym logo and title (Cachí Fitness Center)
      .div_image_logo{ width: 40%; position: relative; } 
        .img_imagen { position: relative; float: right; width: 10%; } /*Div. Here it storages gym logo*/ 
      .div_title{ width: 60%; position: relative; }
        .p_title{ margin-top: 2vw; font-size: 1vh; } /*Cachi Fitness Center*/

    .navbar_items { height: 50%; width: 100%; bottom: 0; } 
        ul{ position: relative; left: 0; margin: auto; padding: 0px; }
          li{ margin-left: 2vw; }
            .dropdown { height: 100%; /*60 percent of the container 3 height*/ }
              .dropbtn{ font-size: 2vw; width: 11vw; }
              .dropdown-content a{ font-size: 1.8vw; padding-top: 8px; padding-bottom: 8px; }
}

//SMALL MOBILE SCREENS
@media (max-width: 400px){
  .header{ height: 7%; }
    .div_header{ display: none; } 
  
    .navbar_items{ height: 70%; position: absolute; margin: auto; bottom: 0; top: 0; }
      ul{ height: 100%; }
        .dropbtn{ font-size: 10px; width: 11vw; }
        .dropdown-content a{ font-size: 8px; }
    
    
}


//Horizontal Movil View
@media screen and (orientation: landscape) and (max-height: 640px){
  .p_title{ font-size: 3vh; } /*Cachi Fitness Center*/
  .dropbtn{ font-size: 10px; }
}


