.header{
    background-color: black;
    width: 100%; /* Toma el ancho de toda la ventana */
    position: relative; /* indica que la capa sí forma parte del flujo normal de elementos de la página, por lo que su posición dependerá del lugar donde esté en el código y el flujo HTML */
}

//--------------------------------------------------CONTAINER 1 (LOGO AND NAME)--------------------------------------------------//

.logo-container{//Div. Here it shows the gym logo and title (Cachí Fitness Center)
  position: relative;
  //background-color: green;
}

  .image-flex-img {//Div. Here it storages gym logo
      height: 70%; //Logo height
      margin-top: 2%;

      width: 12%;
      min-width: 30px;
      //background-color: blue;
      float: left;
  }

  .div_title{
      height: 100%;
      //background-color: red;
      
      //center text
      display: flex;
      align-items: center;
      justify-content: left;
      float: left;
  }

p{
    color: white;
    font-family: "Berlin Sans FB Demi Bold";
    font-weight: bold;
    font-size:2vw;
    //margin-top: 1.5vw;
}

//--------------------------------------------------CONTAINER 2 (NAVBAR)--------------------------------------------------//

.container2{
    width: 50%;
    height: 100%;
    float: right;
    //background-color: green;
    //Centrar los items
    display: flex;
}

#container2 ul{
  //background-color: blue;
  display: flex;//align items horizontal
  height: 100%;
  list-style-type: none;//remove dots on list items
}

.container2_encabezado{
  color: white;
  font-family: "Berlin Sans FB Demi Bold";
  font-weight: bold;
  font-size: max(1vw, 3px);
  text-decoration: none;
  margin-left: 1vw;
  margin-right: 1vw;
}

#container2 .navbar_items{
  position: relative;
  width: 100%;
  height: 50%;

  //Centro verticalmente los items del navbar en el container 2
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;

  //background-color: blue;
  //Centrar los items
  display: flex;
  justify-content: right;
  align-items: center;
}

#container2 .navbar_items ul li{
    text-transform: uppercase;
    margin-left: 1.5vw; //space beetween navbar options
    
}

//--------------------------------------------------CONTAINER 3 (NAVBAR FOR SMALL SCREENS)--------------------------------------------------//

.container3{
  display: none;
  width: 100%;
  height: 50%; //50 percent of the header height
  //background-color: red;
  position: absolute;
  bottom: 0;
}

#container3 ul{
  display: flex;//align items horizontal
  list-style-type: none;//remove dots on list items
  margin-left: -45px;
  margin-top: 2%;
}


#container3 .navbar_items{
  width: 100%;

  //Centrar los items
  display: flex;
  justify-content: center; //center content
  align-items: center; //center of the div
}

.container3_encabezado{
  color: white;
  font-family: "Berlin Sans FB Demi Bold";
  font-weight: bold;
  font-size:calc(3px + 1vw);
  text-decoration: none;
  margin: 1vw;
}

.a_session:hover{
  cursor: pointer;
}

.p_services{
  color: white;
  font-family: "Berlin Sans FB Demi Bold";
  font-weight: bold;
  font-size:calc(5px + 1vw);
  text-decoration: none;
  margin: 2vw;
}

.p_services_items{
  color: white;
  font-family: "Berlin Sans FB Demi Bold";
  font-weight: bold;
  font-size:calc(5px + 2vw);
  text-decoration: none;
  margin: 2vw;
  //background-color: blue;
}

#container3 .navbar_items ul li{
  text-transform: uppercase;
  margin-left: 3vw; //space beetween navbar options
}

#container3 .dropdown{
  margin-left: 0;
}

//-----------------------------------------------DROPDOWN-----------------------------------------------------------//

.dropdown {
  position: relative;
  width: 100%;
  //background-color: blue;

  //Centrar los items
  display: flex;
  justify-content: center; //center content
  align-items: center; //center of the div

  //Borde gris y redondeado
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid rgb(56, 56, 59);
}

.dropdown:hover{
  background-color: rgb(56, 56, 59);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 100%;
  width: 120%;

  //Borde gris y redondeado
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid rgb(56, 56, 59);
}

.dropdown-content:hover{
  background-color: rgb(56, 56, 59);
  cursor: pointer;
}

/*.dropdown:hover .dropdown-content {
  display: flex;
}*/

.p_services_items{
  color: white;
  font-family: "Berlin Sans FB Demi Bold";
  font-weight: bold;
  text-align: center;
  margin: auto;
  //background-color: blue;
}

.div_border{
  height: 100%;
  //background-color: cadetblue;
}

.div_border:hover .dropdown-content {
  display: flex;
}

//------------------------------------------------------QUERIES------------------------------------------------//

//MOBILE SCREENS
@media (max-width: 845px) {
  #container2 div ul { display: none; }
  #container3 { display: flex; }
  #logo-container { width: 60%; height: 50%; margin: auto; } //Div. Here it shows the gym logo and title (Cachí Fitness Center)
  .header{ height: 13%; }
  .p_title{ margin-top: 2vw; font-size: 1vh; margin-left: 35px; } /*Cachi Fitness Center*/
  .dropdown-content{ margin-top: 70px; /*Distancia entre los elementos de la lita*/  } //Div
  .image-flex-img {//Div. Here it storages gym logo
    position: relative; top: 40%; left: 31%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);width: 8%;
  }
  .div_title{
    position: relative; top: 50%; left: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
  }
  .dropdown { height: 60%; /*60 percent of the container 3 height*/ margin-top: 10px; /* It far of the container 3 top */}
  .p_services_items{font-size:calc(2px + 1vw); /* Text size in dropdown sub-items */}

  .div_border2{ height: 60%; }
  .div_border2 .dropdown{ height: 100%; }
}

//PC SCREENS
@media (min-width: 845px) {
  #container2 div ul { display: flex; }
  #container3 { display: none; }
  #logo-container { width: 50%; float: left; height: 100%; }
  .image-flex-img{ margin-left: 15%; }
  .div_title{ width: 60%; }
  .header{ height: 12%; }
  .p_title{ margin-top: 1vw; }
  .dropdown-content{ margin-top: 14vh; }
  .dropdown { height: 100%; }
  .div_border{ padding-bottom: 15px; }
  .p_services_items{font-size:calc(0.8vw); /* Text size in dropdown sub-items */}
}


