<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="header">

    <div id="logo-container" class="logo-container">

            <a href="https://cachi-fitness-center.web.app/">
                <img src="../../assets/img/body-icon.png"
                    alt="Body"
                    class="image-flex-img">
            </a>

            <div class="div_title">
                <p> CACHÍ FITNESS CENTER </p>
            </div>


    </div>


    <div id="container2" class="container2">

        <div class="navbar_items">
            <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="aboutus">Acerca de nosotros</a></li>
                <li><a href="services">Servicios</a></li>
                <li><a class="a_session" id="a_session" role="button" (click)="session()"></a></li>
            </ul>
        </div>

    </div>

    <div id="container3" class="container3">
        <div class="navbar_items">
            <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="aboutus">Acerca de nosotros</a></li>
                <li><a href="services">Servicios</a></li>
                <li><a class="a_session" id="a_session2" role="button" (click)="session()"></a></li>
            </ul>
        </div>
    </div>

</div>

