.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute; 
    bottom: 0px; 
}

.connectWithUs{
    color: white;
    /*float: left;*/
    font-family: "Berlin Sans FB Demi Bold";
    text-align: center;
}

.connectWithUsDiv{
    width: 100%;
}

.social-networks{
    //background-color: blue;
    float: left;
}

.social-networks div{
    display: flex;
    justify-content: center;
}

/*.image-flex-img{
    height: 30px;
    width: 30px;
    margin-left: 13px;
    margin-top: 5px;
}*/

.general-info{
    float: right;
    //background-color: brown;
}

.info{
    //margin-top: 0px;
    //width: 100%;
    //height: 33%;
    float: left;
    //background-color: brown;
}


.image-info{
    height: 20px;
    width: 20px;
    margin-left: 15px;
    margin-top: 7px;
    float: left;
}


.p-info{
    margin-top: 7px;
    margin-left: 7px;
    color: white;
    font-size: 10px;
    float: left;
}

//-------------------------------QUERIES-------------------------------//

//MOBILE SCREENS
@media (max-width: 1200px) {
    .connectWithUs{ font-size: 10px; margin-top: 10px; margin-left: 5px; }//social media text
    .social-networks{ width: 150px; height: 85%; }//social media div
    .general-info{ width: 200px; height: 90%; margin-right: 2%; }
    .image-flex-img{ height: 18px; width: 18px; margin-left: 8px; margin-top: 0px; }//social media icons
    .info{ margin-top: 0px; width: 100%; height: 25%; } //info
}
   
//PC SCREENS
@media (min-width: 1200px) {

    .connectWithUs{ font-size: 15px; margin-top: 10px; margin-left: 10px; }
    .social-networks{ width: 180px; height: 85%; }
    .general-info{ width: 230px; height: 90%; margin-right: 2%; }
    .image-flex-img{ height: 30px; width: 30px; margin-left: 13px; margin-top: 5px; }
    .info{ margin-top: 0px; width: 100%; height: 33%; }

}
  