<div class="footer">

    <div class="social-networks">

        <div class="connectWithUsDiv">
            <p class="connectWithUs">Conecta con nosotros</p>
        </div>

        <div>

            <a href="https://www.ucr.ac.cr">
                <img src="../../assets/img/face.png"
                    alt="Body"
                    class="image-flex-img">
            </a>

            <a href="https://www.ucr.ac.cr">
                <img src="../../assets/img/Instagram_icon.png"
                    alt="Body"
                    class="image-flex-img">
            </a>

            <a href="https://www.ucr.ac.cr">
                <img src="../../assets/img/whatsapp.png"
                    alt="Body"
                    class="image-flex-img">
            </a>

        </div>

    </div>

    <div class="general-info">

        <div class="info">

            <img src="../../assets/img/localization.png"
                alt="Body"
                class="image-info">

            <p class="p-info"> A la par de la sintética de Cachí </p>

        </div>

        <div class="info">

            <img src="../../assets/img/telefono.png"
                alt="Body"
                class="image-info">

            <p class="p-info"> + (506) 8734 9630 </p>
            
        </div>


        <div class="info">

            <img src="../../assets/img/message.png"
                alt="Body"
                class="image-info">

            <p class="p-info"> gymcachi@gmail.com </p>
            
        </div>

    </div>

</div>