.main_div {
  display: flex;
  height: 80%;
  width: 100%;
  position: relative;
  //background-color: cadetblue;
}

.second_div {
  display: inline-block; //Wrap Content
  min-width: 370px;
  background-color: #14181f;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  //round out corners
  border-radius: 15px;
  -moz-border-radius: 15px;

  padding: 10px;
  //background-color: bisque;
}

.h1_title {
  color: white;
  //background-color: darkcyan;
  width: 100%;
  text-align: center;
}

.divButton {
  //background-color: blue;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  text-align: center;
  display: inline-block; //Wrap Content
  height: 50px;
  background-color: rgba(231, 137, 0, 0.8);
  color: white;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  background-color: rgba(255, 154, 2, 0.8);
  cursor: pointer;
}

.div_input_sign_up {
  display: flex;
  align-items: center; //center vertical
  justify-content: center; //center horizontal
  width: 90%;
  margin-bottom: 15px;
  margin-left: 20px;
  //background-color: chartreuse;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 4px 0;
  width: 95%;
  border-radius: 10px;
}

.default_point {
  height: 15px;
  width: 15px;
  margin-left: 15px;
}

.span_text {
  color: white;
  margin-left: 20px;
  //background-color: #eee;
}

.div_eye {
  background-color: rgb(209, 209, 209);
  padding: 9.5px 15px;
  margin: 4px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

#inputPassword,
#inputNewPassword {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

//-------------------------------------------------------------//@at-root

//PC SCREENS
@media (min-width: 1200px) {
  .button {
    font-size: 1vw;
  }
}

//SMALL MOBILES SCREENS
@media only screen and (max-width: 400px) {
  .second_div {
    min-width: 300px;
    top: 40%;
  }

  .button {
    height: 50px;
  }

  .h1_title {
    font-size: 20px;
  }

}
