.main_div {
  display: flex;
  height: 80%;
  width: 100%;
  position: relative;
  //background-color: cadetblue;
}

.second_div {
  display: flex; //Wrap Content
  flex-direction: column;
  max-width: 450px;
  width: 70%;
  height: fit-content;
  background-color: white;


  //round out corners
  border-radius: 15px;
  -moz-border-radius: 15px;

  padding: 20px 30px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.h1_title {
  color: black;
  //background-color: darkcyan;
  width: 100%;
  text-align: center;
}

.divButton {
  //background-color: blue;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.div_input_sign_up {
  display: flex;
  align-items: center; //center vertical
  justify-content: center; //center horizontal
  width: 90%;
  margin-bottom: 15px;
  margin-left: 20px;
  //background-color: chartreuse;
}


.span_text {
  color: black;
}

mat-icon:hover{
	cursor: pointer;
}

