<div class="main_div">

    <div class="second_div">

        <div id = "divSuccess" class = "divResponse">

            <h1>La cuenta se ha habilitado exitosamente</h1>

            <div id="div_form" class="div_form">
    
                <p>Correo electrónico: {{userEmail}}</p>
    
                <p>Nombre: {{name}}</p>
    
                <p>Teléfono: {{phone}}</p>
    
            </div>

        </div>

        <div id = "divError" class = "divResponse">

            <h3>{{responseDescription}}</h3>

        </div>



    </div>

</div>