<div class="secondDiv">

    <table id="customersTable">
        <th class="colName">Nombre</th>
        <th class="colPhone">Teléfono</th>
        <th class="colEmail"> Email</th>
        <th class="colRole">Rol</th>
        <tr *ngFor="let customer of customers" (click)="seeUserReservations(customer.id)">
            <td class="colName">{{customer.name}}</td>
            <td class="colPhone">{{customer.phoneNumber}}</td>
            <td class="colEmail">{{customer.email}}</td>
            <td class="colRole">{{getRoleByCode(customer.role)}}</td>
        </tr>

    </table>

</div>