.maindiv {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: darkblue;
}

.div_title {
    width: 100%;
    height: 10%;

    //Centrar los items
    display: flex;
    justify-content: center; //center content
    align-items: center; //center of the div
    //background-color: green;
    margin-top: 30px
}

.main_title {
    color: honeydew;
    text-align: center;
    width: 100%;
}

.div_vision, .div_mision {

    //Centrar los items
    display: inline-block;
    justify-content: center; //center content
    align-items: center; //center of the div

    //round out corners
    //border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    -moz-border-radius: 15px;

    padding: 10px;
    max-width: 700px;
    width: 80%;
    margin-top: 40px
}

.div_vision {
    background-color: rgba(94, 55, 167, 0.568);
}

.div_mision {
    background-color: rgba(0, 126, 126, 0.671);
}

.title {
    color: honeydew;
    text-align: center;
    width: 100%;
}

.p_text {
    color: honeydew;
    text-align: left;
    width: 95%;
    //background-color: darkgoldenrod;
    margin: auto;
}
