<div class="maindiv">


    <div class="div_title">
        <h1 class="main_title">Nosotros</h1>
    </div>

    <div class="div_vision">
        <p class="title">Visión</p>
        <p class="p_text">
            Convertirse en el principal centro para el mejoramiendo físico tanto de hombres como de mujeres del distrito de 
            Cachí y alrededores.
        </p>
    </div>

    <div class="div_mision">
        <p class="title">Misión</p>
        <p class="p_text">
            Promover el ejercicio como una actividad indispensable en la vida cotidiana de las personas, desde edades tempranas 
            hasta en adultos mayores, permitiendo mejorar la calidad de vida de la población de Cachí y demás pueblos aledaños.
        </p>
    </div>

</div>
