<div class="divModalParent">
  <h1 mat-dialog-title>Reservaciones</h1>
  <h3>Fecha: {{ utils.dateFormat(date) }}</h3>
  <h3>Horario: {{ utils.formatAMPM(startHour) }} - {{ utils.formatAMPM(endHour) }}</h3>
  <div mat-dialog-content>

    <table id="customers" *ngIf="clients.length > 0">
      <th>Cliente</th>
      <th>Teléfono</th>
      <tr *ngFor="let client of clients">
        <td>{{client.name}}</td>
        <td>{{client.phoneNumber}}</td>
      </tr>

    </table>

    <p id="labelNoReservation" *ngIf="clients.length == 0">** No hay reservaciones **</p>

  </div>
  <div mat-dialog-actions>
    <button id="btnClose" mat-raised-button color="primary" (click)="dimissDialog()">Cerrar</button>
  </div>
</div>