<div class="maindiv">

    <div class="secondDiv">

        <h1>Bienvenido al gimnasio Cachí Fitness Center</h1>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="text">Todo lo necesario para cumplir tus metas</div>
                <img src="../../assets/img/gym_img1.jpg">
            </div>

            <div class="mySlides fade">
                <div class="text">Contamos con excelente personal calificado</div>
                <img src="../../assets/img/gym_img2.jpg">
            </div>

            <div class="mySlides fade">
                <div class="text">Disfruta de nuestras instalaciones</div>
                <img src="../../assets/img/gym_img3.jpg">
            </div>

            <br>

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

        </div>

        <div class="divButton">
            <button class="mainButton" style="vertical-align:middle; height: 60px;" (click)="showSchedule()"><span>Reservar</span></button>
        </div>

    </div>


</div>