table{
    //height: 250px;
    //width: 100%;
    border-collapse: collapse;
    //margin-top: -50px;
}

th{//centro el texto de los encabezados
    width: 5%;
    text-align: center;
}

td{//centro el texto de las casillas
    text-align: center;
}


.headers{
    font-size: 100%;
    background-color: rgba(77, 54, 8, 0.8);
    font-weight: bold;
    height: 50px;
}

.cell{
    font-size: 100%;
    background-color: rgba(54, 43, 5, 0.6);
}

.cell_reserved{
    font-size: 100%;
    background-color: rgba(230, 164, 34, 0.8);
}

.cell_reserved:hover{
    cursor: pointer;
}

.cell:hover{
    background-color: rgba(182, 144, 21, 0.6);
    cursor: pointer;
}

table, th, td {
    border: 1px solid white;
    color: white;
}

.mainDiv{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 80%;
    //background-color: red;
}


.p_available_space_text{
    margin-top: 10px;
    margin-bottom: 0px;
}

#p_range_hours{
    margin-top: 12px;
}

.top_headers{
    background-color: rgba(77, 54, 8, 0.8);
    height: 50px;
    font-size: 1.5vw;
}

//-----------------------------------------QUERIES---------------------------------------//

//MOBILE SCREENS
@media (max-width: 1200px) {
    .p_available_space_text { display: none; }
    .p_available_space{ margin-top: 12px; }
    .headers { font-size: 10px; }
    
}
   
//PC SCREENS
@media (min-width: 1200px) {
    //.top_headers{ font-size: 100%; font-weight: bold; }
}
  
//MOBILE SCREENS
@media (max-width: 845px) {
    .top_headers{ font-size: 2vw; }
}