<div class="mainDiv">

    <table>

        <tr class="headers">
            <th>Horario:</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>


        <tbody>
          <tr *ngFor="let column of arrayShiefts[0]; let in = index">
            <td class="headers"><p id="p_range_hours">{{formatAMPM(arrayShiefts[0][in].startHour)}} - {{formatAMPM(arrayShiefts[0][in].endHour)}}</p></td>
            <td class="{{arrayShiefts[0][in].cssClass}}" id='{{arrayShiefts[0][in].date+"_"+arrayShiefts[0][in].startHour}}' (click)="openDialog(arrayShiefts[0][in].date, arrayShiefts[0][in].startHour, arrayShiefts[0][in].endHour)"><p id="p_available_space_text">Campos disponibles: </p>{{arrayShiefts[0][in].availableSpace}}</td>
            <td class="{{arrayShiefts[1][in].cssClass}}" id='{{arrayShiefts[1][in].date+"_"+arrayShiefts[1][in].startHour}}' (click)="openDialog(arrayShiefts[1][in].date, arrayShiefts[1][in].startHour, arrayShiefts[1][in].endHour)"><p id="p_available_space_text">Campos disponibles: </p>{{arrayShiefts[1][in].availableSpace}}</td>
            <td class="{{arrayShiefts[2][in].cssClass}}" id='{{arrayShiefts[2][in].date+"_"+arrayShiefts[2][in].startHour}}' (click)="openDialog(arrayShiefts[2][in].date, arrayShiefts[2][in].startHour, arrayShiefts[2][in].endHour)"><p id="p_available_space_text">Campos disponibles: </p>{{arrayShiefts[2][in].availableSpace}}</td>
            <td class="{{arrayShiefts[3][in].cssClass}}" id='{{arrayShiefts[3][in].date+"_"+arrayShiefts[3][in].startHour}}' (click)="openDialog(arrayShiefts[3][in].date, arrayShiefts[3][in].startHour, arrayShiefts[3][in].endHour)"><p id="p_available_space_text">Campos disponibles: </p>{{arrayShiefts[3][in].availableSpace}}</td>
            <td class="{{arrayShiefts[4][in].cssClass}}" id='{{arrayShiefts[4][in].date+"_"+arrayShiefts[4][in].startHour}}' (click)="openDialog(arrayShiefts[4][in].date, arrayShiefts[4][in].startHour, arrayShiefts[4][in].endHour)"><p id="p_available_space_text">Campos disponibles: </p>{{arrayShiefts[4][in].availableSpace}}</td>
          </tr>
        </tbody>

    </table>

</div>