table{
    //height: 70%;
    //width: 100%;
    border-collapse: collapse;
    margin-top: -50px;
}

th{//centro el texto de los encabezados
    width: 5%;
    text-align: center;
}

td{//centro el texto de las casillas
    text-align: center;
}


.headers{
    font-size: 100%;
    background-color: rgba(77, 54, 8, 0.8);
    font-weight: bold;
    //height: 20px;
}

.cell{
    font-size: 100%;
    background-color: rgba(54, 43, 5, 0.6);
}

.cell_reserved{
    font-size: 100%;
    background-color: rgba(230, 164, 34, 0.8);
}

.cell_reserved:hover{
    cursor: pointer;
}

.cell:hover{
    background-color: rgba(182, 144, 21, 0.6);
    cursor: pointer;
}

table, th, td {
    border: 1px solid white;
    color: white;
}

.mainDiv{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 15%;
    height: 70%;
    width: 70%;
}


#p_available_space_text{
    margin-bottom: 0px;
}

#p_range_hours{
    margin-top: 15px;
}

//-----------------------------------------QUERIES---------------------------------------//

//MOBILE SCREENS
@media (max-width: 1200px) {
    #p_available_space_text { display: none; }
    .headers { font-size: 10px; }
    table{ height: 30px; width: 100%; }
    .cell{ height: 50px; }
    .cell_reserved{ height: 50px; }
}
   
//PC SCREENS
@media (min-width: 1200px) {
    table{ height: 370px; width: 100%; }
    .cell{ height: 50px; }
    .cell_reserved{ height: 50px; }
}
  
