table{
    height: 70%;
    width: 100%;
    border-collapse: collapse;
}

th{
    width: 5%;
}

td{
    text-align: center;
}


.headers{
    font-size: 100%;
    background-color: rgba(77, 54, 8, 0.8);
    font-weight: bold;
}

.cell{
    font-size: 100%;
    background-color: rgba(54, 43, 5, 0.6);
}

.cell:hover{
    background-color: rgba(182, 144, 21, 0.6);
    cursor: pointer;
}

table, th, td {
    border: 1px solid white;
    color: white;
}

.mainDiv{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 15%;
    height: 70%;
    width: 70%;
}