<div class="logindiv">

    <div class="container" id="container">

        <div class="form-container sign-in-container" id="login_container">
            <form action="#">
                <h1>Iniciar sesión</h1>
                <div class="social-container">
                    <a (click)="signInWithFB()" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a (click)="signInWithGoogle()" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>O usa tu cuenta</span>
                <input [(ngModel)]="login_email" name="login_email" type="email" placeholder="Correo" />
                <input [(ngModel)]="login_password" name="login_password" type="password" placeholder="Contraseña" />
                <a href="#" class="passwordForgotten" >¿Olvidaste tu contraseña?</a>
                <button (click)="login()">Iniciar sesión</button>
                <p id="pSignUp" class="p_sign">O regístrate aquí</p>
            </form>
        </div>


        <div class="form-container sign-up-container" id="sign_up_container">
            <form action="#">
                <h1 class="h1_new_account">Crear nueva cuenta</h1>
                <div class="social-container">
                    <a (click)="signInWithFB()" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a (click)="signInWithGoogle()" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>O usa tu correo para registrarte</span>
                <input [(ngModel)]="name" name="name" type="text" placeholder="Nombre" />
                <input [(ngModel)]="email" name="email" type="email" placeholder="Correo" />
                <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" />
                <input [(ngModel)]="phone" name="phone" type="text" placeholder="Teléfono" />
                <button (click)="signUp()">Registrarse</button>
                <p id="pSignIn" class="p_sign">O inicia sesión aquí</p>
            </form>
        </div>



        <div class="overlay-container" id="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido de nuevo!</h1>
                    <p>Si ya tienes una cuenta, inicia sesión para disfrutar de nuestros servicios</p>
                    <button class="ghost" id="signIn">Iniciar Sesión</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hola, amante del fitness</h1>
                    <p>Si aún no tienes una cuenta con nosotros, que esperas para registrarte y cumplir todas tus metas!</p>
                    <button class="ghost" id="signUp">Registrarse</button>
                </div>
            </div>
        </div>



    </div>


</div>