<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Inicio de sesión</h1>
      </div>
      <div class="form-content">
        <form>
          <div class="form-group">
            <input id="username" type="text" name="username" required="required" placeholder="Nombre de Usuario"/>
          </div>
          <div class="form-group">
            <input id="password" type="password" name="password" required="required" placeholder="Contraseña"/>
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox"/>Recordarme
            </label><a class="form-recovery" href="#">Olvidaste tu constraseña?</a>
          </div>
          <div class="form-group">
            <button type="submit">Iniciar sesión</button>
          </div>
        </form>
      </div>
    </div>
    <div class="form-panel two">
      <div class="form-header">
        <h1>Formulario de registro</h1>
      </div>
      <div class="form-content">
        <form>
          <div class="form-group">
            <input id="username" type="text" name="username" required="required" placeholder="Nombre de usuario"/>
          </div>
          <div class="form-group">
            <input id="password" type="password" name="password" required="required" placeholder="Constraseña"/>
          </div>
          <div class="form-group">
            <input id="cpassword" type="password" name="cpassword" required="required" placeholder="Ingrese nuevamente la contraseña"/>
          </div>
          <div class="form-group">
            <input id="email" type="email" name="email" required="required" placeholder="Correo electrónico"/>
          </div>
          <div class="form-group">
            <button type="submit">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>