.div_title{
    width: 100%;
    
    //Centrar los items
    display: flex;
    justify-content: center; //center content
    align-items: center; //center of the div
}

    .title{
        color: honeydew;
        text-align: center;
        width: 100%;
        font-size: 3vw;
        margin-top: 6vw;
    }




    //MOBILE SCREENS
@media (max-width: 1200px) {

}
   
//PC SCREENS
@media (min-width: 1200px) {

}
  