.maindiv{
    display: flex;
    height: 80%;
    width: 100%;
    position: absolute;
    //background-color: cadetblue;
  }


.div_title{
    position: absolute;
    width: 100%;
    height: 10%;
    top:5%;
    
    //Centrar los items
    display: flex;
    justify-content: center; //center content
    align-items: center; //center of the div
    //background-color: green;
}

    .main_title{
        color: honeydew;
        text-align: center;
        width: 100%;
    }

.div_vision{
    background-color: rgba(94, 55, 167, 0.568);

    //Centrar los items
    display: inline-block;
    justify-content: center; //center content
    align-items: center; //center of the div

    //center div on screen
    position: absolute;
    
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    //round out corners
    //border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    -moz-border-radius: 15px;

    padding: 10px;
    max-width: 700px;
    min-width: 300px;
}


.div_mision{
    background-color: rgba(0, 126, 126, 0.671);

    //Centrar los items
    display: inline-block;
    justify-content: center; //center content
    align-items: center; //center of the div

    //center div on screen
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    //round out corners
    //border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    -moz-border-radius: 15px;

    padding: 10px;
    max-width: 700px;
    min-width: 300px;
}

    .title{
        color: honeydew;
        text-align: center;
        width: 100%;
        margin-top: -150px;
    }

    .p_text{
        color: honeydew;
        text-align: left;
        width: 95%;
        //background-color: darkgoldenrod;
        margin: auto;
    }




//MOBILE SCREENS
@media (max-width: 845px) {
    .main_title{ font-size: 3vh; margin-top: -35px; }
    .title{ font-size: 2vh; margin-top: 0.5vh; }
    .p_text{ margin-left: 1.5vw; }
    .div_vision{ width: 90%; }
    .div_mision{ width: 90%; }
    .div_vision{ top: 20%; }
    .div_mision{ top: 47%; }
}
   
//PC SCREENS
@media (min-width: 845px) {
    .main_title{ font-size: 2.5vw; }
    .title{ font-size: 1.8vw; margin-top: 0.5vw; }
    .p_text{ margin-top: 1vw; }
    .div_vision{ top: 27%; }
    .div_mision{ top: 55%; }
}
  