.main_div{
  display: inline-block;
  height: 80%;
  width: 100%;
  position: relative;
  vertical-align: middle;
  //background-color: cadetblue;
}

  .second_div{
    padding: 10px;
    margin-top: 100px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 80%;
    background-color: #14181f;
  }

    .h1_title{
      color:white;
      //background-color: darkcyan;
      width: 100%;
      text-align: center;
    }

    .p_weight_room_description{
      color:white;
      margin-left: 1%;
    }


  .divButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
  }

    .button{
      text-align: center;
      display: inline-block; //Wrap Content
      height: 70px;
      background-color: rgba(231, 137, 0, 0.8);
      color: white;
      font-size: 3vw;
      border: none;
      border-radius: 10px;
    }

    .button:hover {
      background-color: rgba(255, 154, 2, 0.8);
      cursor: pointer;
    }
    

  //-------------------------------------------------------------//@at-root
