.main_div{
  display: inline-block;
  height: 80%;
  width: 100%;
  position: relative;
  vertical-align: middle;
  //background-color: cadetblue;
}

  .second_div{
    padding: 20px;
    margin-top: 100px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 80%;
    background-color: #323a49;
  }

    .h1_title{
      color:white;
      //background-color: darkcyan;
      width: 100%;
      text-align: center;
    }

    .p_weight_room_description{
      color:white;
      margin-left: 1%;
    }


  .divButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 200px;
  }

