<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<div id="wrapper" class="wrapper  noSelect">
    <nav>
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <img src="../../assets/img/body-icon.png" alt="Body" class="img_imagen_logo">
            <div class="logo"><a> CACHÍ FITNESS CENTER </a></div>
            <ul class="links" id="links">

                <li><a (click)="onClickEvent('home')">Inicio</a></li>


                <li><a (click)="onClickEvent('aboutUs')">Nosotros</a></li>


                <li id="div_admin_features">
                    <a class="desktop-link" id="btn_admin">Administración</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Administración</label>
                    <ul>
                        <li><a (click)="onClickEvent('seeReservations')">Ver reservaciones</a></li>
                        <li><a (click)="onClickEvent('seeUsers')">Ver usuarios</a></li>
                    </ul>
                </li>


                <li>
                    <a id="btn_services" class="desktop-link">Reservar</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Reservar</label>
                    <ul>
                        <li><a (click)="onClickEvent('weightRoom')">Sala de Pesas</a></li>
                    </ul>
                </li>


                <li>
                    <a (click)="onClickEvent('session')" class="desktop-link btn_session" name="btn_session">{{sessionText}}</a>
                    <input type="checkbox" id="show-account-features">
                    <label (click)="onClickEvent('session')" for="show-account-features" class="btn_session">{{sessionText}}</label>
                    <ul id="div_my_account_features">
                        <li><a (click)="onClickEvent('userProfile')">Perfil</a></li>
                        <li><a (click)="logout()" id="a_session"></a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </nav>
</div>