<div class="main_div">

    <div class="second_div">

        <h1>Resetear contraseña</h1>

        <div class="div_input_sign_up">
            <input [(ngModel)]="email" name="email" type="email" placeholder="Correo" (input)="keyupEvent($event.target)"/>
            <img id="email_point" class="default_point" src="../../assets/img/point_gray.png">
        </div>  

        <div class="div_input_sign_up">
            <div class="div_password">
                <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="Contraseña" (input)="keyupEvent($event.target)"/>
                <div (click)="showPassword('password', 'eyeIconPassword')" class="div_eye"><span class="input-group-text"><i id="eyeIconPassword" class="fa fa-eye-slash"></i></span></div>
            </div>  
            <img id="password_point" class="default_point" src="../../assets/img/point_gray.png">
        </div>

        <div class="div_input_sign_up">         
            <div class="div_password">
                <input [(ngModel)]="passwordConfirmed" id="passwordConfirmed" name="passwordConfirmed" type="password" placeholder="Confirmar contraseña" (input)="keyupEvent($event.target)"/>
                <div (click)="showPassword('passwordConfirmed', 'eyeIconPasswordConfirmed')" class="div_eye"><span class="input-group-text"><i id="eyeIconPasswordConfirmed" class="fa fa-eye-slash"></i></span></div>
            </div>  
            <img id="confirmed_password_point" class="default_point" src="../../assets/img/point_gray.png">
        </div>

        <button (click)="resetPassword()">Aceptar</button>

    </div>

</div>