<div class="main_div">

    <div class="second_div">

        <h1>Registrar nueva contraseña</h1>

        <input [(ngModel)]="email" name="email" type="email" placeholder="Correo"/>

        <div class="div_password" style="width: 100%; position: relative;">
            <input [(ngModel)]="password" id="password" name="password" type="password"
                placeholder="Contraseña" [type]="hidePassword ? 'password' : 'text'" placeholder="Contraseña" />
            <mat-icon style="z-index: 90; position: absolute; right: 0; margin-right: 5px;"
                class="placeholder" (click)="hidePasswordFunction()">{{hidePassword ?
                'visibility_off' : 'visibility'}}
            </mat-icon>
        </div>

        <div class="div_password" style="width: 100%; position: relative;">
            <input [(ngModel)]="passwordConfirmed" id="passwordConfirmed" name="password" type="password"
                placeholder="Contraseña" [type]="hideConfirmedPassword ? 'password' : 'text'" placeholder="Confirmar contraseña" />
            <mat-icon style="z-index: 90; position: absolute; right: 0; margin-right: 5px;"
                class="placeholder" (click)="hideConfirmedPasswordFunction()">{{hideConfirmedPassword ?
                'visibility_off' : 'visibility'}}
            </mat-icon>
        </div>

        <button class="mainButton" (click)="resetPassword()">Aceptar</button>

    </div>

</div>