.main_div {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
}

h1 {
    color: black;
    font-style: bold;
}

mat-icon:hover{
	cursor: pointer;
}


.second_div {
    width: 30%;
    min-width: 300px;
    max-width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-top: 150px;
}

.div_input_sign_up {
    display: flex;
    align-items: center; //center vertical
    justify-content: center; //center horizontal
    width: 100%;
    margin-bottom: 15px;
    margin-left: 15px;
    //background-color: chartreuse;
}

.default_point {
    height: 15px;
    width: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.div_password {
    display: flex;
    width: 100%;
    align-items: center;
}

#password,
#passwordConfirmed {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
