<div class="main_div">

    <div class="second_div">

        <h1>¿Olvidaste tu contraseña?</h1>

        <div id="div_form" class="div_form">

            <p>En caso de que hayas olvidado tu contraseña, necesitarás ingresar el correo asociado a tu cuenta para que puedas registrar una nueva contraseña</p>

            <input [(ngModel)]="email" name="email" type="email" placeholder="Correo"/>

            <button class="mainButton" (click)="click()">Aceptar</button>

        </div>

        <p id="p_description" class="p_description">Revisa el link que fue enviado a tu correo electrónico</p>

    </div>

</div>