.main_div {
    display: flex;
    height: 80%;
    width: 100%;
    position: relative;
    justify-content: center;
}

p {
    color: black;
}

h1 {
    color: black;
}

.second_div {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    height: fit-content;

    margin-left: 20px;
    margin-right: 20px;

    margin-top: 200px;
    
}

.div_form {
    height: 100%;
    width: 100%;
}

.p_description {
    display: none;
}

