<div class="main_div">

    <div class="second_div">

        <h1>Resetear contraseña</h1>

        <div id="div_form" class="div_form">

            <p>Ingrese su correo electrónico asociado con su cuenta para recibir el link de reseteo de contraseña </p>

            <input [(ngModel)]="email" name="email" type="email" placeholder="Correo"/>

            <button (click)="click()">Enviar link de reseteo</button>

        </div>

        <p id="p_description" class="p_description">Revisa el link que fue enviado a tu correo electrónico</p>

    </div>

</div>