<div class="footer">

    <div class="div_connect_with_us">

        <p class="p_title">SÍGUENOS</p>

        <div class="div_social_networks_images">

            <a href="https://www.facebook.com/cachifitcen">
                <img src="../../assets/img/face.png" alt="Body" class="image_social_networks">
            </a>

            <a href="https://www.instagram.com/cachifitnesscenter/">
                <img src="../../assets/img/Instagram_icon.png" alt="Body" class="image_social_networks">
            </a>

        </div>

    </div>

    <div class="div_general_info">

        <p class="p_title">NOSOTROS</p>

        <div class="div_info_details">

            <div class="div_info_detail">
                <img src="../../assets/img/localization.png" alt="Body" class="image-info">
                <p class="p_info">Costado noroeste de la plaza de deportes de Cachí</p>
            </div>

            <div class="div_info_detail">
                <img src="../../assets/img/telefono.png" alt="Body" class="image-info">
                <p class="p_info"> + (506) 8946-9736</p>
            </div>


            <div class="div_info_detail">
                <img src="../../assets/img/message.png" alt="Body" class="image-info">
                <p class="p_info">gymcachi@gmail.com</p>
            </div>

        </div>

    </div>

    <div class="div_rights">
        <p class="p_text_rights">Copyright © 2021 Julio Segura Chaves All Rights Reserved </p>
    </div>


</div>