.main_div{
	width: 100%;
	height: 80%;
	display: flex;
	position: relative;
}

p{
    color:#FFFFFF;
}

h1{
    color:#FFFFFF;
}


    .second_div{
        //height: 50%;
        overflow: hidden; //wrap content vertically
        width: 30%;
        min-width: 300px;
        background-color: #00000080;

        //centro el div en el div padre
        left: 0;
        right: 0;
        margin: auto;

        border-radius: 10px; //redonder corner  
        text-align: center; //Centrar texto

        padding: 30px;
    }


        .div_form{
            height: 100%;
            width: 100%;
        }

        .p_description{
            display: none;
        }

            .div_form input {
                background-color: #eee;
                border: none;
                padding: 12px 15px;
                margin: 4px 0;
                width: 80%;

                //Center input on div
                display: block;
                margin: 0 auto;

            }

            .div_form button {
                border-radius: 20px;
                border: 1px solid #FF4B2B;
                background-color: #FF4B2B;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 30px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;

                //Center input on div
                display: block;
                margin: 0 auto;

                margin-top: 25px;
            }
            
            .div_form button:active {
                transform: scale(0.95);
            }
            
            .div_form button:focus {
                outline: none;
            }
            
            .div_form button.ghost {
                background-color: transparent;
                border-color: #FFFFFF;
            }

            .div_form button:hover {
                cursor: pointer;
                background-color: #ee3b1b;
            }
