<div class="maindiv">

    <h1>Bienvenido al gimnasio Cachí Fitness Center</h1>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="text">Todo lo necesario para hacer Spinning</div>
            <div class="numbertext">1 / 3</div>
            <img src="../../assets/img/gym_img1.jpg">
        </div>
        
        <div class="mySlides fade">
            <div class="text">Los mejores espejos para motivarse</div>
            <div class="numbertext">2 / 3</div>
            <img src="../../assets/img/gym_img2.jpg">
        </div>
        
        <div class="mySlides fade">
            <div class="text">Todo el espacio necesario para llevar a cabo cualquier tipo de ejercicio</div>
            <div class="numbertext">3 / 3</div>
            <img src="../../assets/img/gym_img3.jpg">
        </div>
        
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>

    </div>




</div>



