<div class="maindiv">


    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="text">Caption Text</div>
            <div class="numbertext">1 / 3</div>
            <img src="../../assets/img/img_nature_wide.jpg">
        </div>
        
        <div class="mySlides fade">
            <div class="text">Caption Two</div>
            <div class="numbertext">2 / 3</div>
            <img src="../../assets/img/img_snow_wide.jpg">
        </div>
        
        <div class="mySlides fade">
            <div class="text">Caption Three</div>
            <div class="numbertext">3 / 3</div>
            <img src="../../assets/img/img_mountains_wide.jpg">
        </div>
        
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>

    </div>




</div>



