  .button{
    text-align: center;
    width: 200px;
    height: 70px;
    background-color: rgba(231, 137, 0, 0.8);
    color: white;
    font-size: 2.5vh;
    border: none;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: rgba(255, 154, 2, 0.8);
    cursor: pointer;
  }
  


  .second_div{
    width: 50%;
    min-width: 370px;
    background-color: rgba(14, 14, 78, 0.548);
    //background-color: cadetblue;
    height: 50vh;

    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    //round out corners
    //border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    -moz-border-radius: 15px;
  }

    .h1_title{
      color:white;
      //background-color: darkcyan;
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }

    .p_weight_room_description{
      color:white;
      margin-left: 1%;
    }


  .divButton{
    //background-color: blue;
    position: fixed;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  //-------------------------------------------------------------//@at-root

  //PC SCREENS
@media (min-width: 1200px) {
  //.second_div{ margin-top: 60px; }
}

//MOBILE SCREENS
@media (max-width: 845px) {
  //.second_div{ height: 50vh; }
  .p_weight_room_description{margin-left: 2%;}
}