<div class="main_div">

    <div class="second_div">

        <h1 class="h1_title">Sala de Pesas</h1>

        <p class="p_weight_room_description">
            La sala de pesas es uno de los principales servicios que brinda el gimnasio Cachí Fitness Center, en la cual se admiten 7 personas por cada espacio, en
            total se cuenta con 6 espacios por día, a excepción de Sábados y Domingos donde se cuenta con solamente 2 espacios.
        </p>

        <p class="p_weight_room_description">
            Para poder reservar un espacio, o varios, deberá iniciar sesión o registrarse en caso de que aún no lo haya hecho.
        </p>

        <p class="p_weight_room_description">
            Es importante que para poder hacer uso de la sala de pesas, cada persona lleve una botella de agua, dos paños, uno para secarse el sudor y otro para
            limpiar las bancas una vez que finaliza un ejercicio en las mismas.
        </p>
        
    </div>

    <div class="divButton">

        <button class="button" (click)="showSchedule()"> ¡Reserve su espacio! </button>
    
    </div>

</div>